<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="//as.zbjimg.com/static/as-ipr-www/common/default/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="description" content="{{description}}"/>
    <meta name="sogou_site_verification" content="FZAELF2JN9"/>
    <meta name="360-site-verification" content="2d807cc45e42665e812d541bfb06ef01" />
    <meta name="baidu-site-verification" content="IppzFTTD31" />
    <link rel="canonical" href="{{canonical}}"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/lib/jquery.min.js"></script>

</head>

<body>


{{! 头部}}
{{#block "header"}}
    {{{extend "header"}}}
{{/block}}


{{! 中间内容区域}}
<div class="ipr-content">
    {{#block "body"}}
        123
    {{/block}}
</div>

{{! 底部}}
{{#block "footer"}}
    {{{extend "footer"}}}
{{/block}}



</body>
</html>