
<div class="e-wrap" style="margin: 0;padding: 0;">
    <div class="e-header">
        <p style="margin-top: 15px;">尊敬的客户：</p>
        <p style="margin-top: 15px; text-indent: 2em;">您的电商申诉材料已添加到附件，其中包含：
            <span th:each="fileType : ${fileTypes}">
                    <span style="font-weight: bold;">
                        <span th:text="${fileType.fileDTOS.size()}"></span>
                        <span th:text="${fileType.unit}"></span>
                        <span th:text="${fileType.typeName}"></span>
                    </span>
                </span>

            ，为了您的申诉材料能够顺利提交，请依照“淘宝平台”要求提交相应材料。</p>
    </div>
    <div style="line-height: 1.6;">
        <h4>重要提示：</h4>
        <div class="e-tips-content">
            <p>1、 请按照“淘宝平台”规定，及时的将申诉理由Word文件内容、申诉书图片提交。</p>
            <p>2、 如您因特殊原因要求修改申诉理由时，请及时联系我司：</p>
            <p>1）联系我司方式：</p>
            <p>我司案件代理人同您联系的QQ、微信等；</p>
            <p>客服电话：400-023-0033</p>
            <p>2）在相关申诉材料尚未提交淘宝平台前，可以修改。须您立即联系我司，我方将视情况修改后重新发送给您。</p>
            <p>3）为便于后期统计汇总，故须您将<span style="font-weight: bold;">申诉结果告知我司</span>，请您理解并支持我们的工作。</p>
            <p>因此给您带来的不便，请谅解！</p>
        </div>
    </div>
    <div style="color: #FF0000;">
        <p>温馨提示：关注“猪八戒知识产权”微信公众号，下载路标APP（http://app.chatm.com），随时随地查看你的商标动态。</p>
    </div>
    <div class="e-link">
        <p>扫码关注<span style="color: #FF0000;">“猪八戒知识产权”</span>微信公众号     扫码下载<span style="color: #FF0000;">“进度查询APP”</span>  扫码了解“猪八戒企业管家”</p>
        <div class="e-link-img" style="margin-top: 60px;overflow: hidden;">
            <div>
                <img style="float: left;margin-top: 14px;width: 300px;height: 300px;" src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F1.png%2Forigine%2F3f4493ea-76bc-4ed2-b9ba-4ed158f4d5f5?imageMogr2/auto-orient/strip/quality/90" alt="">
                <img style="width: 326px;height: 326px;" src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F2.png%2Forigine%2Fb53ae517-a54f-47ef-882b-e983bc99a9c2?imageMogr2/auto-orient/strip/quality/90" alt=""></div>
            </div>
        <div>
            <img src="http://bgl.zbjimg.com/bgl%2Fbjclound%2F3.png%2Forigine%2F17623f7d-e04e-4982-bc23-91503e1cb476?imageMogr2/auto-orient/strip/quality/90" alt="">
        </div>
    </div>
</div>