apiVersion: v1
kind: Secret
metadata:
  name: tectonic-identity-grpc-server-secret
  namespace: tectonic-system
type: Opaque
data:
  tls-cert: {{SERVER_CRT}}
  tls-key: {{SERVER_KEY}}
  ca-cert: {{CA_CRT}}
