apiVersion: v1
kind: Secret
metadata:
  name: tectonic-identity-grpc-client-secret
  namespace: tectonic-system
type: Opaque
data:
  tls-cert: {{CLIENT_CRT}}
  tls-key: {{CLIENT_KEY}}
  ca-cert: {{CA_CRT}}
