apiVersion: v1
kind: Secret
metadata:
  name: kube-apiserver
  namespace: kube-system
type: Opaque
data:
  apiserver.key: {{APISERVER_KEY}}
  apiserver.crt: {{APISERVER_CRT}}
  service-account.pub: {{SERVICE_ACCOUNT_PUB}}
  ca.crt: {{CA_CRT}}
  etcd-client-ca.crt: {{ETCD_CA_CRT}}
  etcd-client.crt: {{ETCD_CLIENT_CRT}}
  etcd-client.key: {{ETCD_CLIENT_KEY}}
  oidc-ca.crt: {{OIDC_CA_CRT}}
