<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="javascript:">我是a标签</a>

<br>
<hr>
{{#eachIndex array}}
    {{item}} is {{index}} <br>
{{/eachIndex}}

{{#extend "layout"}}

    {{#content "body"}}
        {{#embed "gallery"}}
            {{#content "body"}}
                123123123
            {{/content}}
        {{/embed}}

        {{#embed "modal" foo="bar" name=user.fullName}}
            {{#content "title" mode="prepend"}}Image 1 - {{/content}}
            {{#content "body"}}img2{{/content}}
        {{/embed}}
    {{/content}}

{{/extend}}


<script src="/javascripts/index.js"></script>