<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/lib/jquery.min.js"></script>
</head>
<body>
{{{body}}}
<script src="/javascripts/index.js"></script>
</body>
</html>
